<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>useruploadmany</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>

    <form action="/user/uploadmany" method="post" enctype="multipart/form-data">

        <input type="text" name="username" placeholder="请输入用户名" />

        <br>
        <br>

        <input type="text" name="亮度" placeholder="0~100" />

        <br>
        <br>

        <input type="file" name="pic" id="" />

        <br>
        <br>

        <input type="file" name="pic" id="" />

        <br>
        <br>

        <input type="file" name="pic" id="" />

        <br>
        <br>

        <input type="submit" value="开始生成" />

    </form>

</body>

</html>