<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>useruploadmany</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>

  <body>
    <form action="/user/register" method="post">
      <input type="text" name="userName" placeholder="用户名" />

      <br />
      <br />

      <input type="password" name="userPassword" placeholder="密码" />

      <br />
      <br />

      <input type="text" name="userPhoneOrEmail" placeholder="手机号/邮箱" />

      <br />
      <br />

      <input type="submit" value="注册" />
    </form>
  </body>
</html>
