<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>useruploadmany</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>

    <form action="/user/upload/uploadfiles" method="post" enctype="multipart/form-data">

        <input type="text" name="inputText" placeholder="想要图片变成什么样？" />

        <br>
        <br>

        <!-- <input type="number" name="filterAlpha" placeholder="0~100" />

        <br>
        <br>

        <input type="number" name="beautyAlpha" placeholder="0~100" />

        <br>
        <br> -->

        <input type="file" name="pic" id="" />

        <br>
        <br>

        <input type="file" name="pic" id="" />

        <br>
        <br>

        <input type="file" name="pic" id="" />

        <br>
        <br>

        <input type="submit" value="开始生成" />

    </form>

</body>

</html>